<%= form_with model: quote, html: { class: "quote form" } do |f| %>
  <% if quote.errors.any? %>
    <div class="error-message">
      <%= quote.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <div class="form__group">
    <%= f.label :name, class: "visually-hidden" %>
    <%= f.text_field :name, input_html: { autofocus: true }, class: "form__input #{'form__input--invalid' if quote.errors[:name].present?}" %>
    <%= f.submit class: "btn btn--secondary" %>
  </div>
<% end %>
